:root{
    --clr-primary-100: #B7A281;

    --clr-neutral-100: #818181;
    --clr-neutral-200: #A2A2A2;
    --clr-neutral-300: #D9D9D9;
    --clr-neutral-400: #F8F8F8;
    --clr-neutral-500:  #f1f1f1;

    --ff: "Roboto Mono", monospace;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--ff);
    background-color: #B7A281;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
}

.iconParent{
    background: var(--clr-neutral-500);

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    height: auto;
    gap: 1rem;
}

.iconParent p{
    font-size: 14px;
}

.icon{
    margin-top: 1rem;
}


/* content */

.nav{
    display: flex;
   
}

.input{
    background: var(--clr-neutral-200);

    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    
}

::placeholder{
    color: var(--clr-neutral-500);
}

.menu{
    display: flex;
    gap: 1rem;
}

.iconMenu{
    background: var(--clr-neutral-500);

    padding: 1rem 2rem;
    border-radius: 1rem;
}

.iconMenu p{
    color: var(--clr-neutral-200);
}

.orderMenu{
    display: flex;
}

.menu1{
    background: var(--clr-neutral-500)
}

.menu2{
    background: var(--clr-neutral-500);
}